<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <title><%= content_for?(:title) ? yield(:title) : "Moji" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Moji" %>">
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-45550304-2', 'code-moji.com');
      ga('send', 'pageview');
    </script>
  </head>
  <body>
    <%# application layout styled for Twitter Bootstrap 3.0 %>
    <header>
      <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="container">
            <%= render 'layouts/navigation' %>
        </div>
      </nav>
    </header>
    <main role="main">
      <div class="container">
         <div class="row">
           <div class="col-md-12">
             <%= render 'layouts/messages' %>
             <%= yield %>
           </div>
         </div>
      </div>
    </main>
  </body>
</html>
